<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>LASSO Your Learning</title>
</head>
<body>
<div>
  <ul class="menu">
    <li class="menuitem"> <a href="
      cax" class="menulink" id="">Capture an eXperience</a></li>
    <li class="menuitem"> <a href="sas" class="menulink">Share a Story</a></li>
    <li class="menuitem">Document a Procedure</li>
    <li class="menuitem">Perfect a Process</li>
    <li class="menuitem">Configuration Admin</li>
  </ul>
</div>
</body>
</html>
