<div class="ContentContainer">
  <ul class="menu">
    <li class="menuitem"><%= link_to("Capture an eXperience", {:action => 'cax'}) %></li>
    <li class="menuitem"><%= link_to("Share a Story", {:action => 'sas'}) %></li>
    <li class="menuitem"><%= link_to("Document a Procedure", {:action => 'dap'}) %></li>
    <li class="menuitem"><%= link_to("Perfect a Process", {:action => 'pap'}) %></li>
    <li class="menuitem">Pick one to view below:</li>
  </ul>
</div>